#cover_img_container {
    min-width: 100vw;
    min-height: 58.90vh;
    background-image: url("/resources/img/pages/project_bk/cover_project_bk.jpg");
    background-size: cover;
    background-position: center;
}

#cover_desc_container {
    min-width: 100vw;
    min-height: 41.10vh;
}

#iframe_wrapper {
    width: 100%;
    max-height: 100vh;
    display: inline-block;
    background-color: black;
}

#iframe_wrapper iframe {
    position: relative;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 1903px;
}

