#navbar_holder {
    position: relative;
}

#scroll_container {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroll_snap {
    scroll-snap-align: start;
}

#project_img_one {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("resources/img/pages/project_bk/project_img_one.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#double_img_container {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
}

#project_img_two {
    width: 50vw;
    min-height: 100vh;
    background-image: url("/resources/img/pages/project_bk/project_img_two.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#project_img_three {
    width: 50vw;
    min-height: 100vh;
    background-image: url("/resources/img/pages/project_bk/project_img_three.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}